// Navigation Styles here

h1 {
    margin-top: 2%;
}

.topSec {
       #borderLine {
        border-bottom: 1px dashed grey;
        
    }
}

.topNav {
    display: flex;
    justify-content: flex-end;
    


    a{
        padding:0 2% 2% 2%;
    }



}
  
